body {
  margin:  auto;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  justify-content: center;
  background: url(imagenes-f1/fondo-metalico.jpg);
  text-align: center;
  
}
/* Video de fondo */
.video-encabezado {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-encabezado video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: 1;
}

/* Menú de navegación */
.barra-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3; 
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
}

.barra-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.barra-nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.barra-nav li a:hover {
  color: #FFD700;
}

/* Contenido centrado */
.contenido-encabezado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: silver;
}

.contenido-encabezado h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px black;
}

.contenido-encabezado p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}
  
  
  /* Título del banner */
  .titulo-banner {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px;
    border-radius: 8px;
    display: inline-block;
    font-size: 36px;
    
  }
  
  /* Responsive */
  @media screen and (max-width: 768px) {
    .barra-nav ul {
      flex-direction: column;
      gap: 10px;
    }
  
    .titulo-banner {
      font-size: 24px;
      padding: 10px 20px;
    }
  }
  
  html {
    scroll-behavior: smooth;
  }
  
.barra-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; /* Encima del video */
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  padding: 1rem 0;
}

.barra-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.barra-nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.barra-nav li a:hover {
  color: #FFD700; /* Dorado al pasar el mouse */
}
.que-es-f1 {
   background-color: black;
  padding: 60px 20px;
  color: white;
  margin: 2rem auto;
}
.imagenes-f1 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px; 
}
.imagenes-f1 img {
   width: 50%;
  height: auto;
  border-radius: 10px;
}
.imagenes-f1 img:hover {
   transform: scale(1.1);
}
.imagenes-historia {
   display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px; 
}
.imagenes-historia img {
  width: 50%;
  height: auto;
  border-radius: 10px;
}
.imagenes-historia img:hover {
  transform: scale(1.1);
}

.seccion {
  background-color: black;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.seccion h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: silver;
  border-bottom: 2px solid gold;
  padding-bottom: 10px;
}
.grid-equipos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}
.equipo {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease;
}
  .equipo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    max-width: 200px;
    
  }
.equipo:hover {
  transform: scale(1.2);
}

.equipo-ferrari {
  background-color: #710006;
}

.equipo-mclaren {
  background-color: #863400;
}

.equipo-mercedes {
  background-color: #007560;
  color: white;
}

.equipo-redbull {
  background-color: #003282;
}

.equipo-williams {
  background-color: #000681;
}

.equipo-alpine {
  background-color: #005081;
}

.equipo-astonmartin {
  background-color: #00482c;
}

.equipo-haas {
  background-color: #4d5052;
  color: white;
}

.equipo-racingbull {
  background-color: #2345ab;
}

.equipo-kicksauber {
  background-color: #006300;
  color: white;
}

h2 {
  color: gold;
  margin-bottom: 1rem;
}
.grid-pilotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.piloto-card {
  background-color: #222;
  color: white;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.piloto-card:hover {
  transform: scale(1.1);
}

.piloto-card img {
  width: 100%;
  height: auto;
  max-height: 280px;
  object-fit: contain;
  display: block;
  margin: 0 auto 10px auto;
  background-color: #ffffff10;
  padding: 5px;
  border-radius: 10px;
}


.piloto-verstappen,
.piloto-tsunoda {
   background-color: #003282; 
  color: white;
}

.piloto-verstappen {
  border: 3px solid gold; /* Campeón */
}

.piloto- {
  background-color: #0066FF; /* Toro Rosso / AlphaTauri color similar */
  color: white;
}
.piloto-hamilton,
.piloto-leclerc {
  background-color: #710006; /* Ferrari */
  color: white;
}

.piloto-antonelli {
   background-color: #007560; /* Mercedes */
  color: white;
}

.piloto-russell {
 background-color: #007560; /* Mercedes */
  color: white;
}
.piloto-sainz {
  background-color: #000681; /* Williams */
}
.piloto-albon {
  background-color: #000681; /* Williams */
}
.piloto-piastri {
  background-color: #863400; /* McLaren */
  color: white;
}
.piloto-norris {
  background-color: #863400; /* McLaren */
  color: white;
}

.piloto-alonso,
.piloto-stroll {
  background-color: #00482c; /* Aston Martin */
  color: white;
}

.piloto-gasly,
.piloto-colapinto {
  background-color: #005081; /* Alpine */
  color: white;
}
.piloto-bearman {
  background-color: #4d5052; /* Haas */
} 
.piloto-ocon {
  background-color: #4d5052; /* Haas */
}
.piloto-lawson {
  background-color: #2345ab; /* Racing Bulls */
}
.piloto-hadjar {
  background-color: #2345ab; /* Racing Bulls */
}
.piloto-bartoleto {
  background-color: #006300; /* Kick Sauber */
}
.piloto-hulkenberg {
  background-color: #006300; /* Kick Sauber */
}
.tooltip {
  position: relative;
  cursor: pointer;
  color: white;
  text-decoration: underline dotted;
}

.tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #222;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: .9rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
  .custom-card {
  background: #b80000; /* rojo F1 */
  position: relative;
  padding: 20px 20px 80px; /* deja espacio abajo para la imagen */
  border-radius: 15px;
  text-align: left;
  overflow: visible;
}

.pistas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px;
  max-width: 1000px;
}

.pista-card {
  background: #111;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  text-align: center;
  transition: transform 0.3s;
}

.pista-card:hover {
  transform: translateY(-5px);
}

.pista-card img {
  width: 100%;
  height: auto;
}

.pista-card h3 {
  margin: 10px 0 5px;
  color: #e10600;
}

.pista-card p {
  margin: 0 10px 15px;
  font-size: 14px;
  color: #ccc;
}
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;   /* Espacio entre imágenes */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.galeria img,
.galeria video {
  width: 100%;         /* Ocupa toda la celda */
  height: 400px;       /* Misma altura para todos */
  object-fit: cover;   /* Corta lo que sobra para llenar sin deformar */
  object-position: center; /* Centra bien el recorte */
  border-radius: 10px;
  display: block;      /* Evita espacios fantasma */
}
.galeria img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
/* From Uiverse.io by FColombati */ 
.button {
  all: unset;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  border-radius: 100em;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow:
    -0.15em -0.15em 0.15em -0.075em rgba(5, 5, 5, 0.25),
    0.0375em 0.0375em 0.0675em 0 rgba(5, 5, 5, 0.1);
}

.button::after {
  content: "";
  position: absolute;
  z-index: 0;
  width: calc(100% + 0.3em);
  height: calc(100% + 0.3em);
  top: -0.15em;
  left: -0.15em;
  border-radius: inherit;
  background: linear-gradient(
    -135deg,
    rgba(5, 5, 5, 0.5),
    transparent 20%,
    transparent 100%
  );
  filter: blur(0.0125em);
  opacity: 0.25;
  mix-blend-mode: multiply;
}

.button .button-outer {
  position: relative;
  z-index: 1;
  border-radius: inherit;
  transition: box-shadow 300ms ease;
  will-change: box-shadow;
  box-shadow:
    0 0.05em 0.05em -0.01em rgba(5, 5, 5, 1),
    0 0.01em 0.01em -0.01em rgba(5, 5, 5, 0.5),
    0.15em 0.3em 0.1em -0.01em rgba(5, 5, 5, 0.25);
}

.button:hover .button-outer {
  box-shadow:
    0 0 0 0 rgba(5, 5, 5, 1),
    0 0 0 0 rgba(5, 5, 5, 0.5),
    0 0 0 0 rgba(5, 5, 5, 0.25);
}

.button-inner {
  --inset: 0.035em;
  position: relative;
  z-index: 1;
  border-radius: inherit;
  padding: 1em 1.5em;
  background-image: linear-gradient(
    135deg,
    rgba(230, 230, 230, 1),
    rgba(180, 180, 180, 1)
  );
  transition:
    box-shadow 300ms ease,
    clip-path 250ms ease,
    background-image 250ms ease,
    transform 250ms ease;
  will-change: box-shadow, clip-path, background-image, transform;
  overflow: clip;
  clip-path: inset(0 0 0 0 round 100em);
  box-shadow:
        /* 1 */
    0 0 0 0 inset rgba(5, 5, 5, 0.1),
    /* 2 */ -0.05em -0.05em 0.05em 0 inset rgba(5, 5, 5, 0.25),
    /* 3 */ 0 0 0 0 inset rgba(5, 5, 5, 0.1),
    /* 4 */ 0 0 0.05em 0.2em inset rgba(255, 255, 255, 0.25),
    /* 5 */ 0.025em 0.05em 0.1em 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.25em 0.25em 0.1em inset rgba(5, 5, 5, 0.25);
}

.button:hover .button-inner {
  clip-path: inset(
    clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px)
      clamp(1px, 0.0625em, 2px) clamp(1px, 0.0625em, 2px) round 100em
  );
  box-shadow:
        /* 1 */
    0.1em 0.15em 0.05em 0 inset rgba(5, 5, 5, 0.75),
    /* 2 */ -0.025em -0.03em 0.05em 0.025em inset rgba(5, 5, 5, 0.5),
    /* 3 */ 0.25em 0.25em 0.2em 0 inset rgba(5, 5, 5, 0.5),
    /* 4 */ 0 0 0.05em 0.5em inset rgba(255, 255, 255, 0.15),
    /* 5 */ 0 0 0 0 inset rgba(255, 255, 255, 1),
    /* 6 */ 0.12em 0.12em 0.12em inset rgba(255, 255, 255, 0.25),
    /* 7 */ -0.075em -0.12em 0.2em 0.1em inset rgba(5, 5, 5, 0.25);
}

.button .button-inner span {
  position: relative;
  z-index: 4;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.05em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    135deg,
    rgba(25, 25, 25, 1),
    rgba(75, 75, 75, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 250ms ease;
  display: block;
  will-change: transform;
  text-shadow: rgba(0, 0, 0, 0.1) 0 0 0.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover .button-inner span {
  transform: scale(0.975);
}

.button:active .button-inner {
  transform: scale(0.975);
}

.container {
display: flex;
flex-direction: column;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .grid-equipos, .grid-pilotos {
    grid-template-columns: 1fr;
  }
  header img {
    width: 100%;
    max-width: 300px;
  }
  .barra-nav ul {
    flex-direction: column;
    gap: 20px;
  }
  @media (max-width: 480px) {
    .galeria {
      grid-template-columns: 1fr;
      padding: 10px;
    }
  }
}
  